/* line 1, G:/GitHub/PTUTMiw/resources/styles/import/_map.scss */
#mapid {
  height: 100vh;
  width: 100vw;
}

/* line 1, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

/* line 20, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 24, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* line 35, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
[tabindex="-1"]:focus {
  outline: none !important;
}

/* line 39, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 45, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 50, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 55, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

/* line 64, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 70, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 77, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 84, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
dt {
  font-weight: 700;
}

/* line 88, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 93, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 97, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
dfn {
  font-style: italic;
}

/* line 101, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 106, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
small {
  font-size: 80%;
}

/* line 110, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 118, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
sub {
  bottom: -.25em;
}

/* line 122, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
sup {
  top: -.5em;
}

/* line 126, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 133, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* line 138, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 142, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 150, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 157, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
figure {
  margin: 0 0 1rem;
}

/* line 161, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

/* line 167, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 171, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 184, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
table {
  border-collapse: collapse;
}

/* line 188, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

/* line 196, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
th {
  text-align: inherit;
}

/* line 200, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* line 205, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
button {
  border-radius: 0;
}

/* line 209, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 214, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 225, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
button,
input {
  overflow: visible;
}

/* line 230, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 235, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 242, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* line 250, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 256, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 263, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 268, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 275, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* line 287, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 291, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 296, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* line 301, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 306, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* line 311, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
output {
  display: inline-block;
}

/* line 315, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
summary {
  display: list-item;
}

/* line 319, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
template {
  display: none;
}

/* line 323, G:/GitHub/PTUTMiw/resources/styles/import/_reset.scss */
[hidden] {
  display: none !important;
}

@font-face {
  font-family: "hartwellLight";
  src: url("../../fonts/Hartwell_Light.otf") format("woff2");
}

@font-face {
  font-family: "hartwellBol";
  src: url("../../fonts/Hartwell_Bold.otf") format("woff2");
}

/* line 1, G:/GitHub/PTUTMiw/resources/styles/import/_addons-map.scss */
.container {
  position: absolute;
  top: 15px;
  z-index: 1000;
}

/* line 10, G:/GitHub/PTUTMiw/resources/styles/import/style.scss */
body {
  height: 100vh;
  width: 100vw;
}

/* line 15, G:/GitHub/PTUTMiw/resources/styles/import/style.scss */
.go-to {
  color: white;
}

/* line 19, G:/GitHub/PTUTMiw/resources/styles/import/style.scss */
.go-to:hover {
  cursor: pointer;
  color: whitesmoke;
}

/*# sourceMappingURL=style.css.map */