@font-face {
    font-family: "hartwellLight";
    src: url("../../fonts/Hartwell_Light.otf") format("woff2");
}

@font-face {
    font-family: "hartwellBol";
    src: url("../../fonts/Hartwell_Bold.otf") format("woff2");
}